{% extends "home_master_template.html" %}

{% block additional_styles %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/about.css' %}">


{% endblock %}



{% block content %}
<div class="container px-4 py-5" id="about">
  <h2 class="pb-2 border-bottom">About Us</h2>
  <div class="row g-5 py-5">
      <div class="col-md-6">
          <img src="{% static 'images/about.png' %}" class="img-fluid rounded" alt="About Us Image">
      </div>
      <div class="col-md-6">
          <h3>Our Mission</h3>
          <p>We are dedicated to promoting safe driving and contributing to road safety through our innovative fleet management solutions. Our goal is to help businesses manage their fleets efficiently, reduce operational costs, and ensure the safety of their drivers and vehicles.</p>
          <h3>Our Vision</h3>
          <p>We envision a world where road accidents are minimized and fleet operations are streamlined, creating a safer and more efficient transportation ecosystem. Our commitment to excellence drives us to continuously improve our services and deliver outstanding value to our clients.</p>
      </div>
  </div>

</div>
{% endblock %}


{% block js_scripts_body %}


{% endblock %}

