{% extends "home_master_template.html" %}

{% block additional_styles %}
{% load static %}

{% endblock %}

{% block content %}
    <!-- Responsive Left-Aligned Hero Section with Image -->

    <section class="hero py-5">
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="{% static 'images/hero_image.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="Hero Image" width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                  <h1 class="display-4 fw-bold lh-1 mb-3">Safety Driving, Our Priority</h1>
                  <p class="lead">Our innovative fleet management system helps you monitor and improve driver performance, reduce operational costs, and enhance overall road safety. Join us in making the roads safer for everyone.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a href="#overview" class="btn btn-learn_more btn-lg px-4 me-md-2">Learn More</a>
                        <a href="{% url 'register' %}" class="btn btn-signup btn-lg px-4">Join Us NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!-- Features Section -->
<section id="features">
  <div class="container px-4 py-5">

    <h2 class="pb-2 border-bottom">Why Choose Drive Wise?</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col">
            <div class="feature card h-100">
                <div class="card-body d-flex flex-column">
                  <div class="feature-icon bg-light">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
                    </div>
                    <h2>Real-time Monitoring</h2>
                    <p>
                      Instantly access live data on speed and distance, ensuring you stay informed and proactive about your vehicle's status.
                     </p>
                    <div class="mt-auto">
                        <a href="#" class="icon-link">
                            Learn more
                            <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="feature card h-100">
                <div class="card-body d-flex flex-column">
                  <div class="feature-icon bg-light">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
                    </div>
                    <h2>Drowsiness Detection</h2>
                    <p>
                      Our advanced system continuously monitors driver alertness, providing timely alerts to prevent fatigue-related hazards. This feature significantly reduces the risk of accidents by ensuring drivers remain vigilant and safe throughout their journey.     
                    </p>
                    <div class="mt-auto">
                        <a href="#" class="icon-link">
                            Learn more
                            <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="feature card h-100">
                <div class="card-body d-flex flex-column">
                  <div class="feature-icon bg-light">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
                    </div>
                    <h2>Real-time Violation Detection and Logging</h2>

                    <p>
                      Track and log speed, distance, and drowsiness violations in real-time, promoting compliance and improving driver behavior.
                    </p>
                    <div class="mt-auto">
                        <a href="#" class="icon-link">
                            Learn more
                            <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

</section>





    <!-- Testimonials Section -->
    <section class="p-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-xl-8 text-center">
          <h3 class="mb-4">Testimonials</h3>
          <p class="mb-4 pb-2 mb-md-5 pb-md-0">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet
            numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum
            quisquam eum porro a pariatur veniam.
          </p>
        </div>
      </div>
    
      <div class="row text-center">
        <div class="col-md-4 mb-5 mb-md-0">
          <div class="d-flex justify-content-center mb-4">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(3).webp"
              class="rounded-circle shadow-1-strong"
              width="150"
              height="150"
            />
          </div>
          <h5 class="mb-3">Mohammed Ali</h5>
          <h6 class="text-primary mb-3">Web Developer</h6>
          <p class="px-xl-3">
            <i class="fas fa-quote-left pe-2"></i> ناس رجوله واخلاق وزي الفل
          </p>
          <ul class="list-unstyled d-flex justify-content-center mb-0">
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star-half-alt fa-sm text-warning"></i>
            </li>
          </ul>
        </div>
        <div class="col-md-4 mb-5 mb-md-0">
          <div class="d-flex justify-content-center mb-4">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(27).webp"
              class="rounded-circle shadow-1-strong"
              width="150"
              height="150"
            />
          </div>
          <h5 class="mb-3">Ibrahim Essam</h5>
          <h6 class="text-primary mb-3">Graphic Designer</h6>
          <p class="px-xl-3">
            <i class="fas fa-quote-left pe-2"></i>Ut enim ad minima veniam, quis nostrum
            exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid commodi.
          </p>
          <ul class="list-unstyled d-flex justify-content-center mb-0">
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
          </ul>
        </div>
        <div class="col-md-4 mb-0">
          <div class="d-flex justify-content-center mb-4">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
              class="rounded-circle shadow-1-strong"
              width="150"
              height="150"
            />
          </div>
          <h5 class="mb-3">John Smith</h5>
          <h6 class="text-primary mb-3">Marketing Specialist</h6>
          <p class="px-xl-3">
            <i class="fas fa-quote-left pe-2"></i>At vero eos et accusamus et iusto odio
            dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.
          </p>
          <ul class="list-unstyled d-flex justify-content-center mb-0">
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="far fa-star fa-sm text-warning"></i>
            </li>
          </ul>
        </div>
      </div>
    </section>

  <!-- Call-to-Action Section -->

    <!-- <section class="cta text-center py-5 bg-success text-white">
        <div class="container">
            <h2>Ready to Get Started?</h2>
            <a href="signup.html" class="btn btn-light mt-3">Sign Up Now</a>
        </div>
    </section>  -->
    
{% endblock %}


{% block js_scripts %}


{% endblock %}
