/* static/css/custom.css */
.custom-image {
    width: 640px;
    height: 480px;
}



.btn-success {
    background-color: #ffffff; /* White button */
    color: #28a745; /* Green text */
    border: 2px solid #28a745; /* Green border */
}

.btn-success:hover {
    background-color: #28a745; /* Green background on hover */
    color: #ffffff; /* White text on hover */
}

.btn-light {
    background-color: #ffffff; /* White button */
    color: #28a745; /* Green text */
    border: 2px solid #28a745; /* Green border */
}

.btn-light:hover {
    background-color: #28a745; /* Green background on hover */
    color: #ffffff; /* White text on hover */
}

.btn-outline-secondary {
    color: #28a745; /* Green text */
    border: 2px solid #28a745; /* Green border */
}

.btn-outline-secondary:hover {
    background-color: #28a745; /* Green background on hover */
    color: #ffffff; /* White text on hover */
}
